<section class="route-navbar-section">
    <nav class="route-navbar">
        <ul>
            <li><a href="/join.html">Join the club</a></li>
            <li><a href="/news.html">Latest News</a></li>
            <li><a href="/games.html">New Games</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
</section>