<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <%- include('partials/auth-navbar'); -%>
    <%- include('partials/route-navbar'); -%>


        <section class="banner">
            <img src="images/banner.png" alt="marioclub welcome banner">
            <div>
                <h2 class="banner-text">Welcome to <br><span>Marioclub</span> </h2>
            </div>
        </section>

        <section class="info-section">
            <main>
                <article>
                    <h2>It's a me, Mario</h2>
                    <p>
                        A legendary Nintendo video game character, Mario was born in 1981. Initially, he was named
                        Jumpman,
                        and
                        was a carpenter, in the arcade game Donkey Kong. The same year, Nintendo of America renamed
                        him
                        Mario.
                        His name makes reference to Nintendo of America's landlord, Mario Segale, an Italian
                        American. He
                        was
                        created by Japanese video game designer Shigeru Miyamoto. At age 2, Mario was the hero of
                        the first
                        “Mario Bros” Game, seen on arcade machines. As a plumber, he had to fight, alongside his
                        brother
                        Luigi,
                        enemies in the sewers of New York. Mario wears a moustache, a baseball cap because, at the
                        time, the
                        technology was not able to correctly depict mouths or hair.
                    </p>
                </article>
                <ul class="images">
                    <li><img src="images/thumb-1.png" alt="mario thumb 1"></li>
                    <li><img src="images/thumb-2.png" alt="mario thumb 2"></li>
                </ul>
            </main>
        </section>

        <section class="join-club-section">
            <h2>Join Today!</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam molestias aliquid tempore
                repudiandae
                ipsum nihil cum suscipit officiis adipisci modi, aut quas iste reiciendis expedita, minus a eligendi
                ipsa
                fugiat.
            </p>
            <form>
                <input type="email" name="email" placeholder="Type email & hit enter" required>
            </form>
        </section>


        <%- include('partials/footer'); -%>
</body>

</html>